#/etc/systemd/system
[Unit]
Description=mtr-dns.google.service monitor

[Service]
Type=simple
ExecStart=/bin/bash /home/ldap_users/ginn_lai/mtr/mmtr.sh 5 dns.google >> \
 /home/ldap_users/ginn_lai/mtr/mtr-dns.google.log
KillMode=process
Restart=always
RestartSec=60s

[Install]
WantedBy=multi-user.target
